<% include ../../../includes/trainer_header.ejs %>
<section class="bread-crumbs">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-12">
            	<ol class="breadcrumb">
					<li><a href="/home">Home</a></li>
                    <li><a href="/trainer/subscription/details">Subscription Details</a></li>
					<li class="active">Subscription Update</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="client_profile">
<div class="container mtop30">
	<div class="page-header">
		<h1 class="text-center"> My Subscription Details</h1>  
	</div>
               
    <% if (success.length > 0) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <% if (error.length > 0) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>

 <div class="container">
    <div class="row divide">
    	<form action="javascript:void(0);" method="post" class="form-horizontal no-pad" id="payment-form" name="renewalform"  autocomplete="off">
        <div class="col-sm-12 choose_plan">
			<%if(sub_types.length){
				var price = '';
				var plandetails = '';
                for(var i=0;i<sub_types.length;i++){
                %>
                
                
                <%
                
                var sts = 0;
                
                for(var j=0;j<subscriptionplans.length;j++)
                { 
                
                  if(sub_types[i].id == subscriptionplans[j].subscription_type_id)
                  {
                  
                	 var sts = 1;
                  } 
                 
                 }
                 
                 %>
                
                <!--  <% if( subscription_info[0].id == sub_types[i].id){%> active <% } %>-->
                
				<div class="col-sm-4  <% if( sts  != 1){%> mask_cls_for_hdng  <% } %> " id="plan_<%=sub_types[i].id%>" >
				
				<% if( sts  != 1){%>
					<p class="heading_mask">Unable To Upgrade / Downgrade Plan</p>
			     <% } %>
					
					<div class="plans <% if( sts  != 1){%> mask_cls  <% } %>" >
						<div class="plan_title">
							<h4><%=sub_types[i].subscription_name%></h4>
						</div>
						<div class="plan_body clearfix">
							<p><%=sub_types[i].description%></p>
							<h5>Choose Plan</h5>
							<p class="slect_box">
								<select name="plan_type" class="form-control" id="plan_type_<%=sub_types[i].id%>">
									<option value="" <%if( subscription_info[0].subscr_plan_id == ''){%> selected="selected" <%}%>>No.Of Users</option>
									<%for(var j=0;j<subscriptionplans.length;j++){
									
                                    	if(sub_types[i].id == subscriptionplans[j].subscription_type_id){%>
                                    	
                                    	<!-- <% if( subscription_info[0].subscr_plan_id == subscriptionplans[j].plan_id){%> selected="selected" <%}%> -->  
                                    	
                                    		<option value="<%=subscriptionplans[j].plan_id%>" data-price="<%=subscriptionplans[j].subscription_amount%>"  data-duration_attr="<%=subscriptionplans[j].plan_duration%>"  pln_users="<%=subscriptionplans[j].no_of_users%>" 	>  Up to  <%=subscriptionplans[j].no_of_users%> Users</option>
										<% if(subscription_info[0].subscr_plan_id == subscriptionplans[j].plan_id){
											price = subscriptionplans[j].subscription_amount
											plandetails =  subscriptionplans[j].plan_id
											
											//var  previous_no_uers = subscriptionplans[j].no_of_users;
											if(clients_count){
												var  previous_no_uers=clients_count;
											}
											else{
												var  previous_no_uers=0;
											}
										}
										%>
                                    <%}
									}%>
								</select>
							</p>
						</div>
						<div class="plan_footer">
							
							<!--  <p class="price" id="price_<%=sub_types[i].id%>"><% if(price != ''){%><span>$</span><%=price%>.00<%}else{%><span>$</span>0.00<%}%></p>-->
							
							<div class="strike">
							
							<div class="del_1"></div>
							<p class="price" id="price_<%=sub_types[i].id%>"> <% if( subscription_info[0].id == sub_types[i].id){%>   
							
							<span>$</span> <!--<%=price%> --> 0.00<%}else{%><span>$</span>0.00<%}%></p>
							
							<p class="offer_applied_msg" style="display:none;" id="offer_applied_msg_<%=sub_types[i].id%>">Offer Applied</p>
								
							</div>
							
							<p  class="coupon_suc_msg" id="coupon_suscess_<%=sub_types[i].id%>"></p>
							
							<div class="upgrade"><button type="button" name="upgrade" class="btn remove_as_client" data-id="<%=sub_types[i].id%>">Select</button></div>
						</div>
					</div>
				</div>
            <%}}%>

			<input type="hidden" name="plandetails" id="plandetails" <%if(plandetails != ''){%>value="<%=plandetails%>" <%}else{%>value=""<%}%> />	
			
			<input type="hidden" id="previous_select_plan" value="<%=	plandetails	%>" />
			
			<input type="hidden" id="previous_select_plan_users" value="<%= previous_no_uers %>" />
			
			<input type="hidden" id="select_plan_id" value="<%=	plandetails	%>" />
			
			<input type="hidden" id="select_plan_type_id" />
			
		</div>
		
		      <div class="modal_r"> 
		      
		      <!--<p class="bg-info text-center" style="text-align: center !important"> <h1>Loading Payments Details </h1> </p>  -->
		      
		  
		      
		      </div>
		
		
		<div class="col-sm-10 col-sm-push-1" id="payment_block_id" style="display:none;">
			<div class="payments">
            <div class="paymentheader">
				<h3>Payment Details</h3>
			</div>
			<div class="detailesblock">
			
			<% if(subscription_info[0].id == 4){%> 
				<div class="coupondetails">
                    <h4>Coupon Code</h4>
                    <div clas="form-group">
						 <div class="checkbox">
							<label>
							  <input type="checkbox" name="promocode" id="promocode" value="1"> Have coupon code?
							</label>
						  </div>
					</div>
					<div class="clearfix"></div>
					
					
                    <div class="form-group hide" id="promodetails">
                        <label class="col-sm-3 col-xs-12 control-label">Enter coupon code</label>
                        <div class="col-sm-4 col-xs-6 couponinput">
                            <input type="text" name="coupon_code" value="" id="coupon_code" class="form-control"/>
							<span class="invalidcoupon"></span>
                        </div>
                        <div class="col-sm-3 col-xs-6 couponinput">
                        
							<input type="hidden" name="discount_id" id="discount_id" value="" />
							
							<input type="hidden" name="duration_coupon_id" id="duration_coupon_id" value="" />
							
							<input type="hidden" id="coupon_select_plan_id"/>
							
							<input type="hidden" id="coupon_select_plan_type_id"/>
										
							<input type="hidden" id="coupon_select_plan_price"/>
							
							<input type="hidden" id="coupon_select_plan_cycles"/>
							
                            <button type="button" name="applycoupon" id="apply_coupon" class="btn btn-primary">Apply</button>
                        </div>
						<div class="col-sm-4 coupontext hide"></div>
                    </div>
                
					<div class="description"></div>
                </div>
                    <%}%>
                <div class="savedpaymentmethods clearfix">
                    <h4>Saved Payment methods</h4>
					<%if(creditcards.length){
						var credit_card_image = '';
						%>
                          <%for(var i=0;i<creditcards.length;i++){%>
						 	<% if(creditcards[i].card_type != ''){
									if(creditcards[i].card_type == 'American Express'){
										credit_card_image = 'americanexpress';
									}else if(creditcards[i].card_type == 'Visa'){
										credit_card_image = 'visa';
									}else if(creditcards[i].card_type == 'MasterCard'){
										credit_card_image = 'mastercard';
									}
								}
							%>
                            <div class="form-group col-sm-8">
								<div class="radio">
									<label>
									<input type="radio" aria-required="true" name="credicard_token" id="credicard_token<%=i%>" value="<%=creditcards[i].payment_method_token%>"><img src="/images/<%=credit_card_image%>.png">
									
									   &nbsp; &nbsp; &nbsp; <%=creditcards[i].cardholder_name%>
									
									<span><%=creditcards[i].credit_card_mask%>
									
									<br><%=creditcards[i].card_type%>
									
									<% if(creditcards[i].is_default == 1){%>  &nbsp; &nbsp; &nbsp;  <a class="btn btn-primary btn-xs pull-right">Primary CC</a> <%}%> 
									</span>
									
								
									</label>
									
								
								</div>
							</div>
                            <%}
							}else{%>
                                <p class='red'>You don't have saved Credit Cards</p>
                            <%}%>
                             
                       <div class="row">  
                        <div class="col-sm-8">
                          <button style="display:none" type="button" class="btn btn-primary btn-xs" id="subscribe_with_new_cc">Subscribe with New Credit Card</button>
                          </div>  
                          </div>  
                            
                            
                   <!-- <div class="form-group col-sm-8">
                        <div class="radio">
                          <label>
                            <input type="radio" name="savedpaymentoptions" id="optionsRadios1" value="option1"><img src="/images/americanexpress.png"><span>XXXX XXXX XXXX 5493 <br> AMEX</span>
                          </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-8">
                        <div class="radio">
                          <label>
                            <input type="radio" name="savedpaymentoptions" id="optionsRadios1" value="option1"><img src="/images/mastercard.png"><span>XXXX XXXX XXXX 5493 <br> Master Card</span>
                          </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-8">
                        <div class="radio">
                          <label>
                            <input type="radio" name="savedpaymentoptions" id="optionsRadios1" value="option1"><img src="/images/visa.png"><span>XXXX XXXX XXXX 5493 <br> VISA</span>
                          </label>
                        </div>
                    </div> -->
                </div>
				<div class="orhead col-sm-8">
				  <h5>(OR)</h5>
				</div>
				<div class="clearfix"></div>
                <div class="creditcarddetails">
                    <h4>Subscribe with New Credit Card</h4>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Card Type</label>
                            <div class="col-sm-4">
                                <select name="card_type" id="card_type"  class="form-control">
                                    <option value="">Choose Card Type</option>
                                    <option value="Visa">Visa</option>
                                    <option value="American Express">American Express</option>
                                    <option value="MasterCard">Master Card</option>
                                </select>
                            </div>
							<div class="col-sm-3" id="creditcardimage"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name on Card</label>
                            <div class="col-sm-7 ">
                                <input type="text" name="nameoncard" vlaue="" class="form-control" auto-complete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Credit Card Number</label>
                            <div class="col-sm-7">
                                <input type="text" name="card_number" vlaue="" class="form-control" auto-complete="off" id="credit_card_no" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Expiry Date</label>
                            <div class="col-sm-7 exp-dts">
                                <select name="exp_month"  class="form-control">
                                    <option value="">MM</option>
                                    <option value="01">Jan</option>
									<option value="02">Feb</option>
									<option value="03">Mar</option>
									<option value="04">Apr</option>
									<option value="05">May</option>
									<option value="06">Jun</option>
									<option value="07">Jul</option>
									<option value="08">Aug</option>
									<option value="09">Sep</option>
									<option value="10">Oct</option>
									<option value="11">Nov</option>
									<option value="12">Dec</option>
                                </select>
                                <select name="exp_year"  class="form-control">
                                    <option value="">YYYY</option>
                                    <%
									var date = new Date();
									var year = date.getFullYear();
									for(var i=year; i <= year+30; i++){
									%>
										<option value="<%= i %>"><%=i%></option>
									<%
									}
									%>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Security Code</label>
                            <div class="col-sm-3">
                                <input type="password" name="cvv" id="cvv" class="form-control" value="" placeholder="CVV" auto-complete="off"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coupondetails">
                    <div class="form-group">
                        <div class="col-md-9 col-sm-12 mpymnt">
						    <div class="checkbox">
								<input type="checkbox" value="" name="termsncond" class="termsncond" id="checkbox_id"><label for="checkbox_id">I accept the</label> <a href="javascript:void(0);" class="terms">Terms of Use</a></input>
							</div>
								<button type="submit" class="btn btn-default remove_as_client" name="submit" id="make_payment_btn">Make Payment</button>
                            <a class="btn btn-danger cancelbtn" href="/trainer/subscription/details">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
		</div>
		<div class="clearfix"></div>
		</form>
    </div>
</div>
<input type="hidden" class="offer_price" value="">
<input type="hidden" class="billing_cyc_offer" value="">

<input type="hidden" class="trail_coupan" value="">

<input type="hidden" class="setup_coupan" value="">

<input type="hidden" class="setupdiscount_coupan" value="">
<input type="hidden" class="offer_dis_price" value="">
<input type="hidden" class="billing_cyc_offer_dis" value="">



</section>
<div class="modal fade" id="modal_for_moblie_slider" tabindex="-1" role="dialog" aria-labelledby="modal_for_moblie_slider_lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_for_moblie_slider_lbl">Subscription Details</h4>
      </div>
      <div class="modal-body  plan_data" id="modal_for_moblie_slider_data">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" id="submit_paln_info">Accept</button>
      </div>
    </div>
  </div>
</div>
<script>


$('#payment-form').on('submit',function(){
	var validator = $('#payment-form').validate();
	var plan_id=<%=subscription_info[0].subscr_plan_id%>;
	var current_plan_amount=<%=subscription_info[0].subscription_amount%>;
	var offer=$('.offer_price').val();
	var billing_cyc_offer=$('.billing_cyc_offer').val();
	var trail_coupan=$('.trail_coupan').val();
	var setup_coupan=$('.setup_coupan').val();
	var setupdiscount_coupan=$('.setupdiscount_coupan').val();
	var offer_dis_price=$('.offer_dis_price').val();
	


	validator.form();
	if(validator.form()){
	$body = $("body");
	var plandetails 	= $('#plandetails').val();
	
	var old_plan		= $('#previous_select_plan').val();

	if(plandetails == '' || plandetails == 'undefined')
	{
		bootbox.alert('Please select a plan');

		return false;
		
		
	}else if(plandetails == old_plan)
	{
		bootbox.alert('Sorry Error Occurred Selected Package Already Exists');

		return false;
	}

	$.ajax({
		        	type: "POST",
		        	url: "/plan_info",
		        	dataType:"json",
		        	data: {plan_id:plandetails} ,
		       		success: function(data){
		       			//var now = new Date();
		       			var now = new Date();
		       			//alert(dateFormat(Date.now(), "yyyy-mm-dd HH:MM:ss"));
		       			if(data[0].plan_duration=="monthly"){
		       				if(trail_coupan.length){
		       					var nxt=parseInt(now.getMonth()+(parseInt(trail_coupan)+1))+"/"+now.getDate()+ "/" + now.getFullYear();
		       				}
		       				else{
		       					var nxt=parseInt(now.getMonth()+2)+"/"+now.getDate()+ "/" + now.getFullYear();
		       				}
		       			}
		       			if(data[0].plan_duration=="yearly"){
		       				var nxt=(now.getMonth()+1) + "/" +now.getDate()+ "/" + parseInt(now.getFullYear()+1);
		       			}

		       			/*var html='';
						html+='Your Selected plan is '+data[0].plan_name+' ($'+data[0].subscription_amount.toFixed(2)+') ('+data[0].plan_duration+')<br/>';
						html+='Last Payment Date : '+ (now.getMonth()+1) + "/" +now.getDate()+ "/" + now.getFullYear();+'';
						html+="<br/>"+nxt+"";
						html+="<br/>Create Max Number of Clients: "+data[0].no_of_users+""; 
						html+="<br/><hr><h1>Payment Information</h1>";
						html+="<br/>Subscription Plan Amount:"+'($'+data[0].subscription_amount.toFixed(2)+')';
						if(plan_id==1){
							var setupfee=data[0].setup_fee.toFixed(2)
						}
						else{
							var setupfee=0;	
						}
						var total=parseInt(data[0].subscription_amount)+parseInt(setupfee);
						html+="<br/>Setup Fee Amount:"+'($'+setupfee+')';
						html+="<br/>Total:"+'($'+total.toFixed(2)+')';
						*/
						var days_in_month=getDaysInMonth((now.getMonth()+1),now.getFullYear());
						var sub_amount=data[0].subscription_amount;
						var amount=0;
						if(plan_id==1){
								var setupfee="<tr><td>Setup Fee Amount:</td><td>$"+data[0].setup_fee.toFixed(2)+"</td></tr>";
								var setupdiscount_coupan=$('.setupdiscount_coupan').val();
									
								if(offer.length){
									amount=parseFloat(offer).toFixed(2);
									var offer_ammount="$"+parseFloat(sub_amount).toFixed(2);
									var trail_dur="<tr><td>Billing Cycles For First:</td><td>"+billing_cyc_offer+" Months</td></tr>";
									var setup_offer_ammount="";
									var total=parseFloat(amount)+parseFloat(data[0].setup_fee);
								}
								else if(trail_coupan.length){
									amount=parseFloat(sub_amount).toFixed(2);
									var trail_dur="<tr><td>Free Trial Period Duration: </td><td>"+trail_coupan+" Months</td></tr>";
									var offer_ammount="";
									var setup_offer_ammount="";
									var total=parseFloat(amount)+parseFloat(data[0].setup_fee);
								}
								else if(setup_coupan=="0"){
									amount=parseFloat(sub_amount).toFixed(2);
									var setupfee="<tr><td>Setup Fee Amount:</td><td><span class='strick' style='text-decoration: line-through;'> $"+data[0].setup_fee.toFixed(2)+"</span> $0.00</td></tr>";
									//var setup_offer_ammount="$"+data[0].setup_fee.toFixed(2);
									var trail_dur="";
									var offer_ammount="";
									var setupdiscount_coupan="";
									var total=parseFloat(amount);
								}
								else if(setupdiscount_coupan.length){
									amount=parseFloat(offer_dis_price).toFixed(2);
									var setupfee="<tr><td>Setup Fee Amount:</td><td><span class='strick' style='text-decoration: line-through;'> $"+data[0].setup_fee.toFixed(2)+"</span> $0.00</td></tr>";
									//var setup_offer_ammount="$"+data[0].setup_fee.toFixed(2);
									var trail_dur="<tr><td>Billing Cycles For First :</td><td>"+setupdiscount_coupan+" Months</td></tr>";
									var offer_ammount="$"+parseFloat(sub_amount).toFixed(2);
									var setupdiscount_coupan="";
									var total=parseFloat(amount);
								}
								else{
									amount=parseFloat(sub_amount).toFixed(2);
									var trail_dur="";
									var offer_ammount="";
									var setup_offer_ammount="";
									var setupfee="<tr><td>Setup Fee Amount:</td><td>$"+data[0].setup_fee.toFixed(2)+"</td></tr>";;
									var total=parseFloat(amount)+parseFloat(data[0].setup_fee);
								}
							
						}
						else{
							var setupfee="";
							var trail_dur="";
							var offer_ammount="";
							var amount=parseFloat((sub_amount-current_plan_amount)-((sub_amount-current_plan_amount)/days_in_month)).toFixed(2);
							var total=parseFloat(amount);	
						}
						

						//var html='<table class="table table-striped"><thead><tr><h2>Payment Information</h2><p>Your Selected plan is '+data[0].plan_name+' ($'+data[0].subscription_amount.toFixed(2)+') ('+data[0].plan_duration+')</p></tr></thead><tbody><tr><td>Last payment Date :</td><td>'+ (now.getMonth()+1) + "/" +now.getDate()+ "/" + now.getFullYear();+'</td></tr><tr><td>Next Renewal Date :</td><td>'+nxt+'</td></tr> <tr><td>Create Max number of Clients :</td><td>'+data[0].no_of_users+'</td></tr></tbody> </table><table class="table table-striped"><thead><tr><h2>Payment Information</h2></tr></thead><tbody><tr><td>Subscription Plan Amount:</td><td>$'+data[0].subscription_amount.toFixed(2)+'</td></tr><tr><td>Setup Fee Amount:</td><td>$'+setupfee+'</td></tr><tr><td>Total:</td><td>$'+total.toFixed(2)+'</td></tr></tbody></table>';
						var last_pay=(now.getMonth()+1) + "/" +now.getDate()+ "/" + now.getFullYear();
						var html='<table class="table table-striped"><thead><tr><p>Your Selected plan is '+data[0].plan_name+'('+data[0].plan_duration+').</p></tr></thead><tbody><tr><td>Last payment Date :</td><td>'+(now.getMonth()+1) + "/" +now.getDate()+ "/" + now.getFullYear()+'</td></tr><tr><td>Next Renewal Date :</td><td>'+nxt+'</td></tr><tr><td>Max number of Clients :</td><td>'+data[0].no_of_users+'</td></tr>'+trail_dur+'</tbody></table><table class="table table-striped"><thead><tr><h4>Payment Information</h4></tr></thead><tbody><tr><td>Subscription Plan Amount:</td><td><span class="strick" style="text-decoration: line-through;">'+offer_ammount+'</span> $'+amount+'</td></tr>'+setupfee+'<tr><td>Total:</td><td>$'+total.toFixed(2)+'</td></tr></tbody></table>';
		       			$('#modal_for_moblie_slider_data').html(html);     			
						$('#modal_for_moblie_slider').modal('show');
					
						$('#submit_paln_info').on('click',function(){
							$('#modal_for_moblie_slider').modal('hide');
							$body.addClass("loading_r");
										setTimeout(function(){
									   		$body.removeClass("loading_r"); 
										   		 }, 300000);
						  $.ajax({
						       	type: "POST",
						       	url: "/trainer/subscription/create_subscription",
						       	data: $( "form" ).serialize(),
						   		success: function(data){
						   			
					       			 window.location.href ="/trainer/subscription/details";
					       		}
					       		});
						});
					

						},
						beforeSend:function(){
								$body.addClass("loading_r");
					     },
					     complete:function(){
					     	$body.removeClass("loading_r"); 
					     }
		});
	}else{
		return false;
	}
});
var getDaysInMonth = function(month,year) {  
  return new Date(year, month, 0).getDate();  

} 
	$body = $("body");
	
	$('button[name="upgrade"]').on('click',function(){

		var selector = $(this);
		var id = $(this).attr('data-id');
		var plan_type = $('#plan_type_'+id).val();
		//alert(plan_type);
		if(plan_type == ''){
			bootbox.alert('Please choose a plan');

			//$('#payment_block_id').hide();

			$('#select_plan_type_id').val('');
			
			return false;
		}else{
			
	   		$body.addClass("loading_r");
			setTimeout(function(){
		   		
		   		$body.removeClass("loading_r"); 

			   		 }, 2000);
			
			$('#payment_block_id').show();
			

			$('#select_plan_id').val(plan_type);
			
			$('#plandetails').attr('value',plan_type);
			$('.choose_plan').children().removeClass('active');
			$('#plan_'+id).addClass('active');

			

			$('#select_plan_type_id').val(id);
			
			
		}
	});

	
	$('select[name="plan_type"]').on('change',function(){
		
		var plan_type = $(this).val();
		//alert(plan_type);
		var raw_id = $(this).attr('id');
		var id = raw_id.split('_');

		
		var coupon_select_plan_id = $('#coupon_select_plan_id').val();
		var coupon_select_plan_type_id = $('#coupon_select_plan_type_id').val();

		if(coupon_select_plan_type_id > 0 && id[2] != coupon_select_plan_type_id)
		{
			$(this).val(coupon_select_plan_id);
			bootbox.alert('Sorry coupon applied successfully ,Do you want  to change plan please remove the coupon code first');
			return false;
			
		}
		else if(coupon_select_plan_type_id > 0)
		{

			var coupon_pric 		=  $('#coupon_select_plan_price').val();

			var discount_id			=  $('#discount_id').val();

			var paln_amount 		= $('#plan_type_'+coupon_select_plan_type_id+' option[value="'+plan_type+'"]').attr('data-price');

			console.log(paln_amount+' plan amount '+coupon_pric+' coupon price');
			
			var nof_billin_cycles	= $('#coupon_select_plan_cycles').val();
			
			if(discount_id  >0)
			{

				var offer_price = (parseFloat(paln_amount) - parseFloat(coupon_pric));			

				$('#coupon_suscess_'+coupon_select_plan_type_id).html('First '+nof_billin_cycles+' Bill Cycles  $ '+offer_price+'.00');

				
				
			}	
		}

		

		$('#plandetails').val('');

		$('select[name="plan_type"]').each(function(){

			if($(this).attr('id') != raw_id)
			{
				$(this).val('');
				var ids = $(this).attr('id').split('_');
				$('#price_'+ids[2]).html('<span>$</span>0.00 ');
				
			}

		});

		

		//alert(id[2]);
	

		/*if(coupon_select_plan_id > 0 && plan_type != coupon_select_plan_id)
		{
			$(this).val(coupon_select_plan_id);

			if($(this).text())
			{
				
			}else
			{
				$(this).val('');	
			}
			
			bootbox.alert('Entered coupon not supported for selected plan. To continue please remove the coupon code first ');
			
			return false;
		}*/

	
		
		
		
		
		var amount = $('#plan_type_'+id[2]+' option[value="'+plan_type+'"]').attr('data-price');
		if(amount == '' || typeof amount === 'undefined'){
			amount = 0;
		}

		var duration_attr = $('#plan_type_'+id[2]+' option[value="'+plan_type+'"]').attr('data-duration_attr');



		var total_user 		= <%= trainer_total_users[0].total_users %>;
		var old_plan		= $('#previous_select_plan').val();
		var prv_usrs		= $('#previous_select_plan_users').val();
		var pln_users		= $('#plan_type_'+id[2]+' option[value="'+plan_type+'"]').attr('pln_users');

		var twelve_mons_cmt_id = [<%= tw_mnt_plans_array %>];

			//[68,69,74,75];

		//twelve_mons_cmt_id

	if(twelve_mons_cmt_id.indexOf(parseInt(old_plan))!= -1) {


		if(parseInt(pln_users) < parseInt(prv_usrs) )
		{	
			
			bootbox.alert('Sorry Unable To Down Grade ,Please Select Plan  Greater Than Or Equal To '+prv_usrs +' Users');
			
			$(this).val('');	
			return false;
		}

		//alert('yes this is the old plan');

	}
		
		if(parseInt(prv_usrs) > 0 )
		{	
			if(parseInt(pln_users) < parseInt(total_user) )
			{	
				
				bootbox.alert('Sorry Unable To Down Grade ,Please Select Plan  Greater Than Or Equal To '+total_user +' Users');

				$(this).val('');	
				
				return false;
			}

		}	
		
		//alert('total users '+total_user+' prev users '+prv_usrs +' ');

		

		var apend_duration ='';
		
		if(duration_attr == 'monthly')
		{
			apend_duration = '<span id="price_duration">/ per month</span>';
				
		}
		if(duration_attr == 'yearly')
		{
			apend_duration = '<span id="price_duration">/ per year</span>';
		}	
		
		//alert(amount);
		$('#price_'+id[2]).html('<span>$</span>'+amount+'.00 '+apend_duration);
	})
	$('select[name="card_type"]').on('change',function(){
		var val = $(this).val();
		if(val == ''){
			$('#creditcardimage').html('');
		}else if(val == 'Visa'){
			$('#creditcardimage').html('<img src="/images/visa.png" class="img-responsive">');
		}else if(val == 'American Express'){
			$('#creditcardimage').html('<img src="/images/americanexpress.png" class="img-responsive">');
		}else if(val == 'MasterCard'){
			$('#creditcardimage').html('<img src="/images/mastercard.png" class="img-responsive">');
		}
	});
	$('input[name="credicard_token"]').on('click',function(){
		//alert($(this).val());
		$('.savedpaymentmethods').children().removeClass('active');
		$(this).parent().parent().parent().addClass('active')
		$('.creditcarddetails').addClass('hide');
		$('.orhead').addClass('hide');
	});
</script>
<script>
$(document).ready(function(){
	$('#apply_coupon').on('click',function(){

	var plandetails 	= $('#plandetails').val();
	
	var old_plan		= $('#previous_select_plan').val();
	
	var select_plan_id	= $('#select_plan_id').val();

	$('.offer_price').attr('value', '');
	$('.billing_cyc_offer').attr('value', '');
	
	$('.trail_coupan').attr('value', '');
	$('.setup_coupan').attr('value', '');
	
	$('.setupdiscount_coupan').attr('value', '');
	$('.offer_dis_price').attr('value', '');
	
	
	var select_plan_type_id = $('#select_plan_type_id').val();

	//alert(select_plan_id);

	//if(parseInt(plandetails) >0)
	
	if(parseInt(select_plan_type_id) >0)
	{	

		$('.coupon_suc_msg').html('');
		
		var coupon_code = $('input[name="coupon_code"]').val();

		if(coupon_code != '')
		{	
		//alert(coupon_code);
		$.ajax({
        	type: "POST",
        	url: "/trainer/subscription/applycoupon",
        	data: {coupon_code:coupon_code,plan_id:select_plan_id,select_plan_type_id:select_plan_type_id},
       		success: function(data){
				var braintree_id = JSON.parse(data).braintree_id;
				var description = JSON.parse(data).description;
				if(braintree_id != '0'){

					if(braintree_id == 'coupon_missmatched')
					{

						$('.invalidcoupon').html('Entered coupon not supported for selected plan');

						$('.description').html('');
						
						return false;	
					}
					else if(JSON.parse(data).type == 'dur' || JSON.parse(data).type == 'setup_fee' )
					{

						var id = JSON.parse(data).id

						$('#discount_id').attr('value','0');
						
						$('#duration_coupon_id').attr('value',id);
						
						$('#coupon_select_plan_id').attr('value',select_plan_id);

						$('#coupon_select_plan_type_id').attr('value',select_plan_type_id);


						$('#offer_applied_msg_'+select_plan_type_id).show();
						
						$('#price_'+select_plan_type_id).addClass('offer_applied');

						$('#coupon_select_plan_price').attr('value','');

						$('#coupon_select_plan_cycles').attr('value','');
						

						if(JSON.parse(data).type == 'setup_fee')
						{
							
						$('#coupon_suscess_'+select_plan_type_id).html('Setup Fees 0.00 For Your Subscription Plan');
						$('.setup_coupan').val("0");

						}else
						{
							
						$('#coupon_suscess_'+select_plan_type_id).html('First '+JSON.parse(data).no_of_billcycles+'  Bill Cycles  Free');
						$('.trail_coupan').val(JSON.parse(data).no_of_billcycles);


						}
						$('#coupon_suscess_'+select_plan_type_id).show();

						$('.couponinput').addClass('hide');
						$('.coupontext').html('<p>'+coupon_code+'<a href="javascript:void(0);" class="clearcoupon">X</a><p>').removeClass('hide');
						$('.coupontext').append('<p class="success">Coupon is applied successfuly.</p>');
						setTimeout(function(){
						  $('.success').html('');
						  $('.description').html('<p class="messge_coupon">'+description+'</p>');
						}, 2000);
						
						
					}
					else if(JSON.parse(data).type == 'dol')
					{
						

						
					$('#coupon_select_plan_id').attr('value',select_plan_id);

					$('#coupon_select_plan_type_id').attr('value',select_plan_type_id);

					$('#duration_coupon_id').attr('value','');
								
					//$('#discount_id').attr('value',braintree_id);
					
					var id = JSON.parse(data).id	
									
					$('#discount_id').attr('value',id);


					var paln_amount = $('#plan_type_'+select_plan_type_id+' option[value="'+select_plan_id+'"]').attr('data-price');

					
					var offer_price = (parseFloat(paln_amount) - parseFloat(JSON.parse(data).price));
					$('.offer_price').val(offer_price);

					
					$('#coupon_select_plan_price').attr('value',JSON.parse(data).price);

					$('#coupon_select_plan_cycles').attr('value',JSON.parse(data).no_of_billcycles);
					

					$('#offer_applied_msg_'+select_plan_type_id).show();
					
					$('#price_'+select_plan_type_id).addClass('offer_applied');
					

					$('#coupon_suscess_'+select_plan_type_id).html('First '+JSON.parse(data).no_of_billcycles+' Bill Cycles  $ '+offer_price+'.00');
					$('.billing_cyc_offer').val(JSON.parse(data).no_of_billcycles);
					
					$('#coupon_suscess_'+select_plan_type_id).show();
					
					$('.couponinput').addClass('hide');
					$('.coupontext').html('<p>'+coupon_code+'<a href="javascript:void(0);" class="clearcoupon">X</a><p>').removeClass('hide');
					$('.coupontext').append('<p class="success">Coupon is applied successfuly.</p>');
					setTimeout(function(){
					  $('.success').html('');
					  $('.description').html('<p class="">'+description+'</p>');
					}, 2000);

				}
				else if(JSON.parse(data).type == 'setup_dis')
					{
						

						
					$('#coupon_select_plan_id').attr('value',select_plan_id);

					$('#coupon_select_plan_type_id').attr('value',select_plan_type_id);

					$('#duration_coupon_id').attr('value','');
								
					//$('#discount_id').attr('value',braintree_id);
					
					var id = JSON.parse(data).id	
									
					$('#discount_id').attr('value',id);


					var paln_amount = $('#plan_type_'+select_plan_type_id+' option[value="'+select_plan_id+'"]').attr('data-price');

					
					var offer_price = (parseFloat(paln_amount) - parseFloat(JSON.parse(data).price));
					
					
					$('#coupon_select_plan_price').attr('value',JSON.parse(data).price);

					$('#coupon_select_plan_cycles').attr('value',JSON.parse(data).no_of_billcycles);
					

					$('#offer_applied_msg_'+select_plan_type_id).show();
					
					$('#price_'+select_plan_type_id).addClass('offer_applied');
					

					$('#coupon_suscess_'+select_plan_type_id).html('Setup Fees 0.00 and first '+JSON.parse(data).no_of_billcycles+' Bill Cycles  $ '+offer_price+'.00');
					$('.setupdiscount_coupan').val(JSON.parse(data).no_of_billcycles);
					$('.offer_dis_price').val(offer_price);


					
					$('#coupon_suscess_'+select_plan_type_id).show();
					
					$('.couponinput').addClass('hide');
					$('.coupontext').html('<p>'+coupon_code+'<a href="javascript:void(0);" class="clearcoupon">X</a><p>').removeClass('hide');
					$('.coupontext').append('<p class="success">Coupon is applied successfuly.</p>');
					setTimeout(function(){
					  $('.success').html('');
					  $('.description').html('<p class="">'+description+'</p>');
					}, 2000);

				}
					
				}else{
					$('.invalidcoupon').html('Invalid coupon');
					return false;
				}
			},
        	beforeSend: function()
        	   {
        	   		$body.addClass("loading_r");
        	        
        	    },
        	    complete: function()
        	    {
        	       $body.removeClass("loading_r"); 
        	    },
			error: function(){
				bootbox.alert('Sorry..! Something went wrong.');
				return false;
			},
			
		});
		
		}
		else
		{
			$('.invalidcoupon').html('Please enter coupon');
		}
		
	}
	else
	{
		//alert('if not entered');

		
		//bootbox.alert('Please choose a plan');
		$('.invalidcoupon').html('Please select a plan first');
		return false;

	}
		
	});		
	$('#promocode').on('click',function() {
			if($(this).is(":checked")) {
				$('#promodetails').addClass('show').removeClass('hide');
			}else{
				
				$('#duration_coupon_id').val('');
				$('#coupon_select_plan_id').val('');
				$('#coupon_select_plan_type_id').val('');
				$('#promodetails').addClass('hide').removeClass('show');
				$('#discount_id').attr('value','');
				$('.coupontext').html('').addClass('hide')
				$('.couponinput').removeClass('hide');
				$('.invalidcoupon').html('');
				$('.description').html('');

				$('.coupon_suc_msg').html('');

				$('#coupon_select_plan_price').attr('value','');
				$('#coupon_select_plan_cycles').attr('value','');
				

				$('.price').removeClass('offer_applied');
				$('.offer_applied_msg').hide();
				$('.coupon_suc_msg').hide();
				
				
			}
	});
	$(document).on('click','.clearcoupon',function(){
		//alert('Hai');
		
		$('#duration_coupon_id').val('');
		$('#coupon_select_plan_id').val('');
		$('#coupon_select_plan_type_id').val('');
		$('#discount_id').attr('value','');
		
		$('.coupontext').html('').addClass('hide')
		$('.couponinput').removeClass('hide');
		$('.invalidcoupon').html('');	
		$('.description').html('');	

		$('.coupon_suc_msg').html('');

		$('#coupon_select_plan_price').attr('value','');
		$('#coupon_select_plan_cycles').attr('value','');

		$('.price').removeClass('offer_applied');
		$('.offer_applied_msg').hide();
		$('.coupon_suc_msg').hide();
		
		
	});
});
</script>
<script src="../../js/validator.js"></script>

<script src="/js/jquery.creditCardValidator.js"></script>


<script>

$(document).on('change', '#card_type', function(){


	var vale = $(this).val();

	if(vale == '')
	{

		$('input[name="credicard_token"]').rules( "add", {
			 required: true,
		
			});				

	}else
	{
		 $('input[name="credicard_token"]').rules('remove');
	}	
	
});


$("input[name=credicard_token]:radio").change(function () {
	$('#subscribe_with_new_cc').show();

	$('.creditcarddetails').removeClass('show');
	$('.creditcarddetails').addClass('hide');

	
});


$(document).on('click', '#subscribe_with_new_cc', function(){

	$("input[name=credicard_token]:radio").prop('checked', false);

	
	$('#subscribe_with_new_cc').hide();
	$('.creditcarddetails').removeClass('hide');
	$('.creditcarddetails').addClass('show');
	 

	

});



$(document).ready(function() {
     $("#payment-form").validate({
            rules: {
                plandetails:{required:true},

                /* credicard_token:{
                     required:true
                },*/
          
               
                nameoncard :
               {
                     required:true,
                     maxlength: 250,
               },          
               card_type:{

                    required:true,
                   

                    },
                    card_number:
                    {
                        required: true,
                        number:true,
                        cc_chk:true,
                    },  
                    exp_month:
                    {
                        required: true,
                    },
                    exp_year:
                    {
                        required: true,
                    },  
                    
                    cvv:
                    {
                        required: true,  
                        number:true,
                        minlength:3,
                        maxlength: 4,
                    },
                    termsncond:{
                    	required: true,
                    }                      
                            
            },
            messages: 
            {
                
           
             cvv: 
                {    
                     number:'Please enter valid CVV',   
                     minlength:'Please enter valid CVV',
                     maxlength:'Please enter valid CVV',
                    
                     
                 },
                 card_number: 
                {
                     maxlength:'Please enter valid CC',
                     minlength:'Please enter valid CC',
                     number:'Please enter valid CC',
                     required:'Please enter valid CC',
                 },
            credicard_token:{
                 required:'Please select any of one credit card',
            },
            termsncond:{
            	required:'Please Read Temrs of Use'
            }
             
            }
            
             
        });
    });


	

		jQuery.validator.addMethod("cc_chk", function(value, element) 
		{

		 	result = $('#credit_card_no').validateCreditCard();

			 if(result.valid  == true)
			 {
					
					var name 		= result.card_type.name

					if(name == 'amex')
					{
						name = 'American Express';	
					}
					else if(name == 'visa')
					{
						name = 'Visa';	
					}
					else if(name == 'mastercard')
					{
						name = 'MasterCard';	
					}		
					
					var card_type		= $('#card_type').val();

					if(card_type != '')
					{	
						if(card_type == name)
						{
							return true;
						}
						else 
						{
							

							 $.validator.messages.cc_chk =  "Please check card type / credit card number ,entered "+name+' card selected card type '+card_type;
						
							return false;
						}		


					}
				 
			   return true;
			 }
			 else
			{
				 $.validator.messages.cc_chk =  "Please enter valid credit card.";

				return false;
			 }

			 
			 


		}, 	 $.validator.messages.cc_chk);




</script>
 <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script>
     var clientToken = "<%=token%>";

braintree.setup(clientToken, "custom", {
  container: "payment-form",
});
    </script>
<script>
$(document).on('keyup', "#nameoncard,#cardnumber,#cvv" ,function() {
$(".savedpaymentmethods").addClass('hide');
$(".orhead").addClass('hide');
});



$('a.terms').click(function(){
/*bootbox.confirm("Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, “Lorem ipsum dolor sit amet..”, comes from a line in section 1.10.32.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.", function(result) {
	if(result){
		$('.termsncond').attr("checked",true);
	}
	else{
		$('.termsncond>label.error').remove();
		$('.termsncond').attr("checked",false);
	}
 }); */

bootbox.dialog({
  /**
   * @required String|Element
   */
  message: "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, “Lorem ipsum dolor sit amet..”, comes from a line in section 1.10.32.<br/>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.",
  
  title: "Terms of Use",
 
  className: "my-modal",
 
  buttons: {
   
    success: {   
    
      label: "OK",
      className: "btn-success",
      callback: function() {}
    },
  
    
   
  }
});
});
</script>
<% include ../../../includes/trainer_footer.ejs %>